<!DOCTYPE HTML>
<html>
    <head>
        <title>管理员删除界面</title>
        <%- include partials/head.ejs %>
    </head>
    <!--這個頁面是管理員刪除單車頁面-->
    <body>
      <section class="hero is-white is-bold is-fullheight">
          <div class="hero-head">
              <%- include partials/header.ejs %>
          </div>
          <div class="hero-body">
              <div class="container">
                  <div class="columns">
                      <h1 class="title column is-3 is-offset-one-quarter"><%=message%></h1>
                      <div class="column is-offset-2">
                          <form action="/users/admin" method="post">
                              <input name="id" type="hidden" value=<%=id%> />
                              <input name="username" type="hidden" value=<%=username%> />
                              <button class="button is-primary is-medium" type="submit">返回</button>
                          </form>
                      </div>
                  </div>
                  <div class="columns is-centered">
                      <div class="field column is-4" style="width:50%">
                          <form action="/users/admin/deleteBike/pass" method="post">
                              <input name="id" type="hidden" value=<%=id%> />
                              <input name="username" type="hidden" value=<%=username%> />

                              <label class="label">要删除的单车id</label>
                              <div class="control has-icons-left">
                                  <input class="input" name="delete_id" type="text" placeholder="请输入要删除的单车id">
                                  <span class="icon is-small is-left">
                                    <i class="fa fa-bicycle"></i>
                                  </span>
                              </div>
                              <br>

                              <div class="field is-grouped is-grouped-left">
                                <p class="control">
                                  <button class="button is-link" type="submit">确认删除</button>
                                </p>
                              </div>
                          </form>
                      </div>
                  </div>
                </div>
              </div>
      </section>
        <%- include partials/footer.ejs %>
    </body>
</html>
