<!DOCTYPE HTML>
<html>
    <head>
        <title>特殊查询显示界面</title>
        <meta charset="UTF-8">
        <script src="/javascripts/jquery-1.7.2.min.js" type="text/javascript"></script>
        <%- include partials/head.ejs %>
    </head>
    <!--需要解析xml
    結構是
    <Xml>
        <Answer>
            <Street></Street>
        </Answer>
        ...
    </Xml>
    -->
    <body onload="parseXML()">
      <section class="hero is-white is-bold is-fullheight">
          <div class="hero-head">
              <%- include partials/header.ejs %>
          </div>
          <div class="hero-body">
              <div class="container">
                  <div class="columns">
                      <h1 class="title column is-3 is-offset-one-quarter">查询五</h1>
                      <div class="column is-offset-2">
                          <form action="/users/admin/special/" method="post">
                              <input name="id" type="hidden" value=<%=id%> />
                              <input name="username" type="hidden" value=<%=username%> />
                              <button class="button is-primary is-medium" type="submit">返回</button>
                          </form>
                      </div>
                  </div>
        <!-- <h1>查询五</h1>
        <h1>当前管理员id：<%=id%></h1>
        <h1>当前管理员用户名：<%=username%></h1> -->
        <div id = "xml" style="display:none"><%-xml%></div>
        <table id = "show_order"  style="table-layout:fixed;width:600px" class="table is-striped"></table>
        <!-- <form action="/users/admin/special" method="post">
            <input name="id" type="hidden" value=<%=id%> />
            <input name="username" type="hidden" value=<%=username%> />
            <button type="submit">返回</button>
        </form> -->
        <script type="text/javascript">
            function parseXML(){
                var xml = $("#xml").html();
                //str = escape2Html(str);
                //var xml = $.parseXML(str);
                console.log(xml);
                str = "";
                str += "<tr>"
                str += "<td>街道</td>"
                str += "</tr>"
                $(xml).find("Answer").each(function(){
                    var field = $(this)
                    str += "<tr>"
                    str += "<td>" + field.find("Street").text() + "</td>"
                    str += "</tr>"
                });
                console.log(str);
                $("#show_order").html(str);
            }
        </script>
          </div>
        </div>
      </section>
    </body>
</html>
