<!DOCTYPE HTML>
<html>
    <head>
        <title>提示</title>
        <%- include partials/head.ejs %>
    </head>
    <body>
      <section class="hero is-white is-bold is-fullheight">
          <div class="hero-head">
              <%- include partials/uheader.ejs %>
          </div>
          <div class="hero-body">
              <div class="container">
                  <div class="columns">
                      <h1 class="title column is-3 is-offset-one-quarter">未完成订单！</h1>
                      <!-- <div class="column is-offset-2">
                          <form action="/users/user/" method="post">
                              <input name="id" type="hidden" value=<%=id%> />
                              <button class="button is-primary is-medium" type="submit">返回</button>
                          </form>
                      </div> -->
                  </div>
                  <div class="tile is-ancestor is-vertical">
                    <div class="tile is-parent"><div class="tile is-parent">
                        <form class="tile is-child notification is-primary button" action="/users/user/using" method="post" onclick="this.submit()">
                            <p class="title has-text-light has-text-centered"><span>您有未完成订单，请点击查看</span>

                            </p>
                            <input name="id" type="hidden" value=<%=id%> />
                        </form>
                    </div>
                  </div>
                  </div>
        
      </div>
    </div>
      </section>
        <%- include partials/footer.ejs %>
    </body>
</html>
